.part-marker,
#slide_number_container {
  display: none;
}

.talk-mode .part-marker,
.talk-mode #slide_number_container {
  display: block;
  position: fixed;
  right: 16px;
  padding: 8px;
  text-align: right;
}

.talk-mode .part-marker {
  top: 16px;
  font-size: 24px;
}

.talk-mode #slide_number_container {
  bottom: 24px;
  font-size: 16px;
}

.light .part-marker,
.light #slide_number_container {
  color: #34383e;
  background-color: #f5f5f5;  
}

/* big.css overrides */
body {
  font-family: "Space Mono", monospace;
}

em {
  font-style: italic;
}

ul {
  margin: 0;
  padding: 0;
}

ul ul {
  margin-left: 72px;
}

.jump-mode .sub-container {
  overflow: hidden;
  margin-bottom: 24px;
}

.jump-mode img {
  max-width: 100%;
}
